nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  button {
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    border: 2px solid rgb(54, 54, 54);
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(54, 54, 54);
      color: white;
    }
    .icon {
      margin: 0rem 0rem 0rem 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0.7rem;
    .app-title {
      z-index: 10;
    }
    button {
      z-index: 10;
    }
  }
}
