.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  .image-cropper {
    width: 20rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    padding: 0rem;
    h2 {
      padding: 1rem;
    }
    .image-cropper {
      width: 10rem;
      height: 10rem;
    }
  }
}
