* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h5 {
  color: rgb(54, 54, 54);
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.box {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 20rem;
}

.bottom {
  min-height: 10vh;
  padding: 1rem 0rem;
  .credits {
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 1rem;
    a {
      color: rgb(54, 54, 54);
      padding-left: 0.2rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .library-active {
    margin-left: 0rem;
  }
  .bottom {
    padding: 0rem;
    .credits {
      font-size: medium;
    }
  }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
